.container {
  display: flex;
  flex-direction: column;
}
.container p {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
}

.container p svg {
  margin-left: 5px;
  font-size: 1.3rem;
  color: var(--color-primary) !important;
}

.container a {
  color: var(--color-gray);
  margin: 5px;
  
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .container p {
    display: flex;
    font-size: 1rem;
    font-weight: 400;
  }
  .container a{
    font-size: .9rem;
  }
}
